/*-- colors


#BCA772 -gold
#CCB98D -light gold
#AA9565 -dark gold
#8A906D -deep green
#8AA983 -med green
#BCCE97 -lightgreen
#978C9A -purple
#B1AA92 -neutral
#32322D -charcoal1
#42423E -chr2
#6D6D69 -chr3
#8E8E88 -chr4
#AFAFAA -chr5
#D1D1CB -chr6
#F1F2E9 -white

--*/




@import 'normalize.css';







/* --- BASIC ELEMENTS --- */


body {
	margin: 0px;	
}

header {
	background: #F1F2E9;
	text-align: right;
	border-bottom: 4px solid #CCB98D;
}

nav {
	font-family: 'Limelight', Verdana, Geneva, sans-serif;
}

nav.fixed {
  position:fixed;
  top:0px;
  right:0px;
  left:0px;
  z-index:999;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	display: block;
	margin: 0 auto;
}

a.button {
	display: inline-block;
	margin: 60px 0;
	color: #32322D;
	font-size: 36px;
	letter-spacing: 2px;
	box-shadow: inset 0px 2px 2px #98B591;
	background: -webkit-linear-gradient(#98B591, #8AA983); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#98B591, #8AA983); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#98B591, #8AA983); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#98B591, #8AA983); /* Standard syntax (must be last) */
	padding: 14px;
	border-radius: 12px;
	border: 2px solid #21211E;
}

a.button:hover {
	text-decoration: none;
	background: #8AA983;
} 

a.button:active {
	box-shadow: inset 0px 2px 3px #64825D;
	background: #85A37E;
}

h1, h3, h4, a, a.button {
	font-family: 'Poiret One','Limelight', Verdana, Geneva, sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 60px;
	letter-spacing: 3px;
}

h2,dt {
	font-family: 'Limelight', Verdana, Geneva, sans-serif;
	color: #F1F2E9;
	text-transform: uppercase;
}

h2	{
	display: block;
	line-height: 18px;
	border-top: 3px solid #BCA46F;
	border-bottom: 3px solid #BCA46F;
	height: 12px;
	margin: 60px 0;
	text-align: center;
}

h2 strong {
	font-size: 48px;
	margin: 0;
	color: #BCA46F;
	text-transform: uppercase;
	padding: 10px;
}

h3 {
	font-size: 36px;
	line-height: 48px;
	text-align: center;
}

h3 strong {
	font-size: 60px;
	line-height: 80px;
	color: #CCB98D;
	text-transform: uppercase;
	border-bottom: 2px solid #BCA46F;
	border-top: 2px solid #BCA46F;
}

h4{
	font-size: 24px;
	color: #F1F2E9;
	line-height: 28px;
	padding: 0 0 10px 0;
}


p { 
	font-family: Verdana, Geneva, sans-serif;
	text-align: justify;
	font-size: 18px;
	line-height: 24px;
	color: #BABAB6;
	padding-bottom: 30px;
}


dl {
	color: #F1F2E9;
}

dt {
	text-align: left;
	font-size: 18px;
	line-height: 36px;
	color: #BCA772;
}

dd {
	text-align: left;
	line-height: 18px;
	padding-bottom: 24px;
	color: #BABAB6;
}

aside {
	font-size: 12px;
	line-height: 18px;
	color: #B1AA92;
 	padding-bottom:  20px;
}

a {
	text-decoration: none;
	font-weight: 24px;
	line-height: 24px;
	color: #8AA983;
}

 a:hover {
	color: #BCCE97;
	text-decoration: underline;
}

nav#navbar a:hover {
	color: #8A906D;
	text-decoration: underline;
}

nav#navbar a:active, a:active {
	color: #BCA772;
	text-decoration: underline;
}


footer {
	background: #F1F2E9;
	border-top: 2px solid #60736A; 
	padding-bottom: 60px; 
}



/* --- UTILITY CLASSES --- */

.wrapper {
	position: relative;
	z-index: 0;
}

.st-width {
	width: 860px;
	margin: 0 auto;
}

.mid-width {
	width: 380px;
	display: inline;
	float: left;
	margin: 0 auto;
	padding: 30px 60px 0 0;
}

.mid-width + .mid-width {
	padding: 30px 0 0 30px;
}

.sm-width {
	width: 180px;
	display: inline;
	float: left;
	margin: 0 auto;
	padding: 30px 30px 0 30px;
}

.content{
	color: #B1AA92;
	font-family: Verdana, Geneva, sans-serif;
	padding: 60px 0 120px 0;
}


/* --- LAYOUT --- */

/* ---header ---*/

#home {
	background: url('images/deco.png') no-repeat center;
	padding-top: 280px;
	padding-bottom: 90px;
}

header h1 {
	display: inline;
	text-transform: uppercase;
	color: #000;
	height: 900px;
}


nav#navbar {
	background: #F1F2E9;
	border-top: 4px solid #8A906D;
	border-bottom: 2 px solid #A28050;
	text-align: right;
	padding: 10px 0px;
}

#zm img{
	display: none;
}

.fixed #zm img {
	display: inline; 
	float: left;
}

nav#navbar a {
	text-align: right;
	text-decoration: none;
	padding:  0px 10px;
	line-height: 30px;
	color: #32322D;
}

nav#navbar a + a + a{
	border-left: 1px solid #32322D;
}

/* ---story ---*/

#story, #story h2 strong {
	background-color: #32322D;
}

/* ---rsvp ---*/

#invite {
	margin: 100px 0px;
	padding-bottom: 30px;
}

#invite h3 {
	color: #F1F2E9;
}

#deco_right {
	height: 80px;
	width: 620px;
	padding-right: 20px;
	background: url('images/lildeco_r.png') no-repeat right; 
	margin: 0 auto;
}

#deco_left {
	padding-left: 20px;
	background: url('images/lildeco.png') no-repeat left; 
	margin: 0 auto;
}

#schedule {
	padding: 76px 30px;
	float: left;
	line-height: 45px;
	clear: left;
}

#nextday {
	border-top: 1px solid #978C9A;
	padding-top: 18px;
}

#rsvp, #rsvp h2 strong {
	background-color: #42423E;
}

#rsvp iframe {
	width: 560px; 
	height: 920px;
	display: inline-block;
	border: 0px;
	border-style: none;
	padding: 0 0 0 30px;
}


/* ---overview ---*/
#overview .sm-width aside {
	padding-bottom: 30px;
}

#overview, #overview h2 strong {
	background-color: #D1D1CB;
}

#overview h4 {
	color: #32322D;
}

#overview p{
	color: #42423E;
}
#overview p a {
	font-family: Verdana, Geneva, sans-serif;
	text-transform:  none; 
}	

.map {
	padding-left: 24px;
	background: url('images/map.png') no-repeat left;
}

#directions {
	height: 274px;
	width: 380px;
}

#overview .sm-width aside {
	padding-bottom: 30px;
}

/* ---registry---*/

#registry, #registry h2 strong {
	text-align: center;
	background-color: #32322D;
}


#things, #things h2 strong {
	background-color: #42423E;
}

#things {
	overflow: auto;
}


#photos, #photos h2 strong {
	background-color: #D1D1CB;
}

#photo-slide,
#comic-slide {
	background-color: #000;
	margin: 0 auto;
	padding: 16px;
}

#comic-slide p {
	color: #F1F2E9;
	height: 110px;
}

footer h4 {
	color: #32322D;
	padding-top: 30px;
}

footer a {
	color: #C39B60;
}




